@using Microsoft.AspNetCore.Authorization
@using TourWebsite.Data
<!DOCTYPE html>
<html lang="en">

@inject IAuthorizationService auth
@inject TourWebsiteContext tourSiteContext

@{
    AuthorizationResult authorized = await auth.AuthorizeAsync(User, "AdminAccess");
    AuthorizationResult authorized1 = await auth.AuthorizeAsync(User, null, "TourAccess");

    var mainPage = await tourSiteContext.GetMain();
    var backgroundCol = mainPage.BackgroundColor;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Huntington Historic Tour</title>
    <script type="importmap"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TourWebsite.styles.css" asp-append-version="true" />


    <style>
        body {
        background-color:@backgroundCol;
        }

        .table > thead > tr > td,
        .table > thead > tr > th,
        .table > tbody > tr> td,
        .table > tbody > tr > th {
            background-color: transparent;
        }
    </style>


    @* TinyMCE text editor *@
    <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"> </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: @mainPage.AccentColor1">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Huntington Historic Tour</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TourSites" asp-action="Index">Tour Sites</a>
                        </li>
                        @if (authorized1.Succeeded) //Admins and editors
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="Index">Files</a>
                            </li>
                        }
                        @if (authorized.Succeeded)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Administration</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:@backgroundCol">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Map", required: false)

    <!-- Load Calcite -->

  


    @await RenderSectionAsync("Scripts", required: false)

    <script defer>

        //https://www.csharp.com/UploadFile/092589/implementing-modal-pop-up-in-mvc-application/

        $(function () {
            $(".modalManager").click(function () {

                console.log("modal clicked");
                var $buttonClicked = $(this);
                var ViewUrl = $(this).attr('name');

                var dataId = $buttonClicked.attr('extra-data');
                console.log(dataId);

                var datahtml = $(dataId).html()

                console.log(datahtml);
                var extraData = JSON.parse($(dataId).html());
                console.log(extraData);

                var options = { "backdrop": "static", keyboard: true };

                $.ajax({
                    type: "GET",
                    url: ViewUrl,
                    contentType: "application/json; charset=utf-8",
                    data: extraData,
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

        });
    </script>


    @* <footer class="border-top footer text-muted"> *@
    @*     <div class="container"> *@
    @*         &copy; 2025 - TourWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*     </div> *@
    @* </footer> *@

</body>
</html>
