@using Microsoft.AspNetCore.Authorization
@using TourWebsite.Areas.Identity.Data
@using TourWebsite.Data
@using TourWebsite.Models.Files
@model NonTourPage

@inject IAuthorizationService auth
@inject TourWebsiteContext _context

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Title</h4>
<hr />
<div class="row">


    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="Title" hidden class="form-control" />



            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label name="TourDescription" class="control-label">Description</label>
                    <input id="descriptionVal" , type="hidden" class="form-control" value="@Model.Description" />
                    <textarea id="tiny" name="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </table>

            @if(Model.ColorName1 != "" || Model.ColorName2 != "") {
                <table class="table table-sm" cellpadding="0" cellspacing="0" border="0" >

                    <thead class="form-group">
                        <tr>
                            <td class="col-sm-2">
                                @if (Model.ColorName1 != "")
                                {
                                    <label asp-for="MainColor" class="control-label">Background Color</label>
                                    <input asp-for="MainColor" type="color" class="form-control" value="@Model.MainColor" />
                                    <span asp-validation-for="MainColor" class="text-danger"></span>
                                }
                            </td>
                            <td class="col-sm-2">
                                @if (Model.ColorName2 != "")
                                {
                                    <label asp-for="AccentColor" class="control-label">Accent Color</label>
                                    <input asp-for="AccentColor" type="color" class="form-control" value="@Model.AccentColor" />
                                    <span asp-validation-for="AccentColor" class="text-danger"></span>
                                }
                            </td>
                    <tr />
                </thead>
            </table>
            }
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary" asp-controller="Role">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("TinyMce");
    }

}

