@model TourWebsite.Models.Tours.TourEdit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tours</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="TourID" value="" />
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label name="TourName" class="control-label">Title</label>
                    <input name="TourName" class="form-control" value="" />
                    <span asp-validation-for="TourSite.Title" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered">
                <div class="form-group">
                    <label name="TourDescription" class="control-label">Description</label>
                    <textarea id="tiny" name="TourDescription" class="form-control" value=""></textarea>
                    <span asp-validation-for="TourSite.Description" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label name="Longitude" class="control-label">Longitude</label>
                    <input name="Longitude" class="form-control" value="" />
                    <span asp-validation-for="TourSite.Longitude" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label name="Lattitude" class="control-label">Latitude</label>
                    <input name="Lattitude" class="form-control" value="" />
                    <span asp-validation-for="TourSite.Lattitude" class="text-danger"></span>
                </div>
            </table>
            <label>Visibility</label>
            <select name="Visibility" asp-items="Html.GetEnumSelectList<VisibilityType>()">
                <option selected="selected" value="">Select Visibility</option>

            </select>


            <table class="table table-bordered table-sm">
                <div type="email" class="form-group">
                    <label name="AddEmail" class="control-label">Add editors</label>
                    <input name="AddEmail" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    //Init rich text

           tinymce.init({
           selector: 'textarea#tiny',
           license_key: 'gpl',
               plugins: 'lists',
    toolbar: 'numlist bullist',
           promotion: false
           });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
