@using Microsoft.AspNetCore.Authorization
@model TourWebsite.Models.Tours.TourId
@inject IAuthorizationService auth

@{
    ViewData["Title"] = "Index";


    AuthorizationResult authorized1 = await auth.AuthorizeAsync(User, null, "TourAccess");

}

<h1>Tours</h1>
<a asp-action="ListView">List View</a>        
<br />
<b>Click on a site to learn more </b>
<br />
<label id="placeName" hidden>Place</label>

<a asp-action="Details" hidden id="tourId">Details</a>
<br />

@if (authorized1.Succeeded)
{
    <a asp-action="AddNewTour">Add New Tour</a>
}


@section Map {
    <div id="viewDiv"></div>
}
