@using Microsoft.AspNetCore.Authorization
@model ValueTuple<List<TourWebsite.Models.TourSite>, IAuthorizationService>

@{
    ViewData["Title"] = "Index";
    var authService = Model.Item2;

    AuthorizationResult authorized1 = await authService.AuthorizeAsync(User, null, "TourAccess");

}

<h1>Tours</h1>
<a asp-action="ListView">List View</a>        
<br />

@if (authorized1.Succeeded)
{
    <label class="control-label">Longitude</label>
    <input id="long" class="form-control" value="" />
    <label class="control-label">Latitude</label>
    <input id="lat" class="form-control" value="" />
}
@section Map {
    <div id="viewDiv"></div>
}
