@using Microsoft.AspNetCore.Authorization
@model TourWebsite.Models.Tours.TourId
@inject IAuthorizationService auth

@{
    ViewData["Title"] = "Index";


    AuthorizationResult authorized1 = await auth.AuthorizeAsync(User, null, "TourAccess");

}

<h1>Tours</h1>


      
<b>Click on a site to learn more </b>
<br />
<a asp-action="ListView">List View</a>

@if (authorized1.Succeeded)
{
    <a asp-action="AddNewTour">Add New Tour</a>
}

@section Scripts { 
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 

} 


@section Map {

    <a hidden href="javascript:void(0);" name="/TourSites/Details" class="modalManager" id="mapPopUp" extra-data='#MyScriptData'></a>
    <script type="application/json" id="MyScriptData">
        {
        "Target": "EmailBox"
        }
    </script>
    <div id="viewDiv"></div>
}
