@using TourWebsite.Areas.Identity.Data
@model ValueTuple<List<TourWebsiteRole>, List<NonTourPage>>

@{
    ViewData["Title"] = "Index";
}

<h3>Edit Website Pages</h3>

<table class="table">

    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-controller="NonTourPages" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Manage Users</h3>



<form asp-action="InviteUser" method="post" enctype="multipart/form-data">
    <table class="table table-sm">
        <label class="control-label">Invite User</label>
        <thead class="form-group">
            <tr class="form-group">
                <td class="col-sm-7">
                <input name="email" class="form-control" value="" />
                </td>
                <td class="col-sm-1">
                    </td>

                <td class="col-sm-3">
                    <input type="submit" value="Send" class="btn btn-primary" style="width:60%" />
                </td>
            </tr>
        </thead>
    </table>
</form>

<table class="table">
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
            </td>
        </tr>
}
    </tbody>
</table>
