@using Microsoft.AspNetCore.Authorization
@model ValueTuple<List<TourWebsite.Areas.Identity.Data.TourWebsiteUser>, string>
@inject IAuthorizationService authService

@{
    ViewData["Title"] = "Index";

    AuthorizationResult authorized1 = await authService.AuthorizeAsync(User, null, "TourAccess");

}

<div class="modal-header">
    <button class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').modal('hide');">×</button>
    <h2>Users</h2>
</div>

    <p>
        <label>Title: <input id="userSearchBox" type="text" name="SearchString" /></label>
        <a href="javascript:void(0);" name="/Role/UserList" class="modalInModal">Search</a>
    </p>

<table class="table">
    <thead>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Email)
                </th>

                <th></th>
            </tr>


            break;
        }
    </thead>
    <tbody>
        @foreach (var item in Model.Item1) {


            <tr>

                <td>
                    <a href="javascript:void(0);"
                       onclick=
                       "
                        emailBox = document.getElementById('@Model.Item2');
                        if (typeof (emailBox) != 'undefined' && emailBox) {
                        emailBox.value = `@item.Email`;
    
                        }   
                        $('#myModal').modal('hide');


                        "

                       >@Html.DisplayFor(modelItem => item.Email)</a>
                </td>
        </tr>
}
    </tbody>
</table>


<script>


        $(function () {
        $(".modalInModal").click(function () {

            console.log("modal clicked");
            var $buttonClicked = $(this);
            var searchBox = document.getElementById("userSearchBox");
            console.log(searchBox)
            var ViewUrl = $(this).attr('name');

            var extraData = {"Target":"@Model.Item2","searchString":searchBox.value};

            console.log(extraData);

            var options = { "backdrop": "static", keyboard: true };

            $.ajax({
                type: "GET",
                url: ViewUrl,
                contentType: "application/json; charset=utf-8",
                data: extraData,
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

    });
</script>

