html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 50%;
}

#feature-node {
    float: left;
    width: 35%;
    height: 100%;
    padding: 1em;
    overflow: scroll;
    max-height: 100%;
}
